.steps {
  height: 100%;
  display: flex;
  background-color: rgb(226, 226, 226);
  border-right: 1px solid rgb(199, 199, 199);
  flex-direction: column;

  .btn {
    margin: 20px;
  }
}

.steps-inner {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 40px;

  .step {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(71, 71, 71);
    text-align: right;
    padding-right: 40px;
    position: relative;
    text-decoration: none;
    flex: 1 1 auto;
    line-height: 20px;

    &:before {
      z-index: 2;
      display: block;
      content: '';
      position: absolute;
      right: 10px;
      top: 3px;
      width: 16px;
      height: 16px;
      background-color: white;
      border: 1px solid var(--bs-black);
      border-radius: 50%;
    }

    &.past {
      &:before {
        background-color: rgb(85, 85, 85);
      }
    }

    &:hover,
    &.active {
      color: var(--bs-primary);
      font-weight: bold;
      font-style: italic;
      font-size: 18px;

      &:before {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
      }
    }
  }

  .step:last-child {
    flex: 0 0 auto;
  }

  .step:not(:last-child) {
    &:after {
      right: 17px;
      z-index: 1;
      top: 16px;
      height: 100%;
      display: block;
      content: '';
      position: absolute;
      border-left: 1px solid var(--bs-black);
    }
  }
}