
.area-of-interest-map.map-buttons {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.area-of-interest {
  .maplibregl-ctrl-top-right {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    top: 30px;

    .maplibregl-ctrl {
      margin: 0;
      padding: 0;  
    }
  }
}
